<a href="https://colab.research.google.com/github/roshsnts/CPEN-21A-ECE2-2/blob/main/Loop_Statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##FOR LOOP

In [2]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

Break Statements

In [10]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  print(x)
  if x=="Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [14]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  if x=="Thursday":
    break
print(x)

Thursday

Looping through string

In [31]:
for x in "Sunday":
  print(x)

S
u
n
d
a
y

S
u
n
d
a
y

NameError: ignored

The rang() function

In [22]:
for x in range(6):
  print(x)
0
1
2
3
4
5
6

0
1
2
3
4
5

6

In [27]:
for x in range(2,9):
  print(x)

2
3
4
5
6

2
3
4
5
6
7
8

6

Nested Loops

In [20]:
adjective=["red", "big", "tasty"]
fruits=["apple", "banana", "cherry"]

for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

##While Loop

In [61]:
i=2

while i<6:
  print(i)
  i+=1 #Assignment Operator for additon

2
3
4
5

The break statement

In [39]:
i=1

while i<6:
  print(i)
  if i==3:
    break
  i+=1

1
2
3

The Continue Statement

In [43]:
i=1

while i<6:
  i+=1
  if i==3:
    continue
  print(i)

2
4
5
6

The Else Statement

In [41]:
i=1

while i<6:
  print(i)
  i+=1

else:
  print("i is no longer less than 6")

1
2
3
4
5
The i is no longer less than 6

Application 1

In [47]:
#Create a Python Program that displays Hello 0 to Hello 10 vertically

hello=["Hello"]
number=["1", "2", "3", "4", "5", "6", "7", "8", "9", "10"]

for x in hello:
  for y in number:
    print(x,y)

Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

Application 2

In [60]:
#Create a Python Program that displays integers less than 10 but not less than 3

for x in range(3,10):
  print(x)

3
4
5
6
7
8
9

In [64]:
i=3

while i<10:
  print(i)
  i+=1 #Assignment Operator for additon

3
4
5
6
7
8
9